
@font-face {
    font-family: "Montserrat regular";
    src: url("../font/Montserrat/montserrat-regular-webfont.eot");
    src: url("../font/Montserrat/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"),
      url("../font/Montserrat/montserrat-regular-webfont.woff2") format("woff2"),
      url("../font/Montserrat/montserrat-regular-webfont.woff") format("woff"),
      url("../font/Montserrat/montserrat-regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }