@font-face {
    font-family: "Noto Sans";
    src: url("~@/assets/fonts/Noto_Sans/NotoSans-Regular.woff2") format("woff2"),
        url("~@/assets/fonts/Noto_Sans/NotoSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Objective Bold";
    src: url("~@/assets/fonts/Objective/Objective-Bold.woff2") format("woff2"),
        url("~@/assets/fonts/Objective/Objective-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Objective Medium";
    src: url("~@/assets/fonts/Objective/Objective-Medium.woff2") format("woff2"),
        url("~@/assets/fonts/Objective/Objective-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Objective Regular";
    src: url("~@/assets/fonts/Objective/Objective-Regular.woff2") format("woff2"),
        url("~@/assets/fonts/Objective/Objective-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

$ns: "Noto Sans", "Arial", Sans-serif;
$obj-bold: "Objective Bold", "Arial", Sans-serif;
$obj-med: "Objective Medium", "Arial", Sans-serif;
$obj-reg: "Objective Regular", "Arial", Sans-serif;
