$base-color: #4a99d3;
$dark-color: #0f001a;
$gray-color: #878787;
$light-color: white;

$max-width: 1440px;
$body-width: 950px;

html {
    font-size: 14px;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
